*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden;
} */

.container{
    width: 1200px;
    margin: 0 auto;
}


main{
    margin-top: 68px;
}

.container_participar{
    height: 674px;
    background-image: url(../img/Banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.cor_{
    background: rgba(0, 0, 0, 0.17);
    height: 100%;
}


